// cleafix
// ----------------------------------------
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
};

// media query
// ----------------------------------------
@mixin media($breakPoint) {
  @if map-has-key($breakPoints, $breakPoint) {
    @media #{ map-get($breakPoints, $breakPoint) } {
      @content;
    }
  }
  @else {
    @error "#{breakPoint} in $breakPoints is not defined";
  }
}