@charset "UTF-8";

@import "variables";
@import "mixin";

.hoge {
  margin: 50px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    display: flex;
    flex: 0 0 calc(100% / 5);
    justify-content: center;
    list-style: none;
    font-size: 20px;
  }
}
