<%
var pageTitle
%>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if(pageTitle) {%><%= pageTitle %> - hogehoge<% } else { %>hogehoge<% } %></title>
  <link rel="stylesheet" href="/css/bundle.css">
</head>

